/*
  general.css - generic classes and rules - application wide
  NOTE: Only sections with specific css rules are given classes in this instance.
  This is due to the nature of the structure of the HTML, which is
  there isn't much to every section, just a couple of DOM elements.
  So lessening the amount of classes and referring to the child elements
  directly in the css selectors will simplify the html.
  This also leaves breathing room for future developers to add their own IDs/classes
  for Javascript DOM manipulation.

  Majority of width rules in the classes have been omitted, and this
  responsibility has been left up to the native Bootstrap classes
  such as .container, .row and the .col classes.

  .Container and .row has been overridden slightly to fit the client's
  requirement for the UI to be usable on a 1280px screen. Anything
  wider than 1466px will result in the UI having a width of 1466px (as seen
  /measured in the reference pictures.) Anything less than 1466px, will
  result in the UI defaulting to 1280px as mentioned in the instructions
  from the client.
*/
.ui html,
.ui body,
.ui div,
.ui span,
.ui applet,
.ui object,
.ui iframe,
.ui h1,
.ui h2,
.ui h3,
.ui h4,
.ui h5,
.ui h6,
.ui p,
.ui blockquote,
.ui pre,
.ui a,
.ui abbr,
.ui acronym,
.ui address,
.ui big,
.ui cite,
.ui code,
.ui del,
.ui dfn,
.ui em,
.ui img,
.ui ins,
.ui kbd,
.ui q,
.ui s,
.ui samp,
.ui small,
.ui strike,
.ui strong,
.ui sub,
.ui sup,
.ui tt,
.ui var,
.ui b,
.ui u,
.ui i,
.ui center,
.ui dl,
.ui dt,
.ui dd,
.ui ol,
.ui ul,
.ui li,
.ui fieldset,
.ui form,
.ui label,
.ui legend,
.ui table,
.ui caption,
.ui tbody,
.ui tfoot,
.ui thead,
.ui tr,
.ui th,
.ui td,
.ui article,
.ui aside,
.ui canvas,
.ui details,
.ui embed,
.ui figure,
.ui figcaption,
.ui footer,
.ui header,
.ui hgroup,
.ui menu,
.ui nav,
.ui output,
.ui ruby,
.ui section,
.ui summary,
.ui time,
.ui mark,
.ui audio,
.ui video {
  font-family: Arial, Helvetica, sans-serif;
  /*margin: 0;
  padding: 0;*/
  list-style: none;
}
.ui html {
  min-height: 100%;
}
body.ui {
  background: #f2f2f2;
  padding: 0 !important;
}

/*
  The Bootstrap 'row' class in this UI will be used to section parts of the page.
  Originally the 'row' class was full width with no padding.
  To match the reference pictures, it was sized down to 1466px for any
  screen wider than 1466px. Any screen under 1466px would leave the row
  at 1280px wide.
*/
.row {
  width: 1466px;
  margin-left: auto !important;
  margin-right: auto !important;
  box-shadow: 0px 0px 4px 1px lightgrey;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
@media (max-width: 1466px) {
  .row {
    width: 1280px !important;
  }
}
/* OVERRIDES the .row class defined above with no shadow */
.row-clear {
  box-shadow: none !important;
}

/*
  The reference picture shows some input texts having their placeholder
  text in blue color.
*/
::-webkit-input-placeholder {
   color: #3b62a1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #3b62a1;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #3b62a1;
}

:-ms-input-placeholder {
   color: #3b62a1;
}

/*
  Box Containers
*/
article.box > div {
  background-color: white;
  padding: 20px;
}
article.box > header {
  padding: 10px;
  background-color: #69b3e7;
  color: white;
  font-size: 16px;
}
article.box > header > span:nth-child(2) {
  float: right;
}
