/*
  search.css - CSS for search section
*/
section.search > input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-size: 18px;
  border: 0;
  color: #3b62a1;
  border-right: 1px solid lightgrey;
}
section.search > input:focus {
  outline: 0;
}

section.search > select {
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 16px;
  background: white;
  border: 0;
  color: #3b62a1;
}
section.search > select:focus {
  outline: 0;
}

section.search > button {
  padding-top: 14px;
  padding-bottom: 13px;
  font-size: 16px;
  color: white;
  background-color: #3b62a1;
  border: 0;
  border-radius: 0;
}
section.search > button:focus {
  outline: 0;
}
